.intro__subtitle {
    max-width: 683px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;

    margin-top: 30px;
    margin-bottom: 0;
}