.place__title {
    max-width: 460px;
    margin: 0;
    grid-area: title;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    color: #FFFFFF;
}

@media (max-width: 1023px) {
    .place__title {
        max-width: 330px;
        font-size: 42px;
        line-height: 46px;
        color: #FFFFFF;
    }
    }
    
@media (max-width: 570px) {
    .place__title {
        max-width: 340px;
        font-size: 32px;
        line-height: 35px;
        padding-left: 16px;
        padding-bottom: 8px;
    }
}