@import url('__url-text/__url-text.css');
@import url('__url/__url.css');
@import url('__link/__link.css');
@import url('__text/__text.css');
@import url('__paragraph/__paragraph.css');
@import url('__img/__img.css');
@import url('__title/__title.css');

.place {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding-bottom: 82px;
}