@import url('../place/place.css');

.places {
    max-width: 984px;
    width: 80vw;
    padding-top: 100px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .places {
        max-width: 928px;
        width: 90vw;
        padding-top: 117px;
    }
    }
@media (max-width: 1023px) {
    .places {
        max-width: 720px;
        width: 100%;
        padding-right: 10px;
        padding-top: 110px;
    }
}

@media (max-width: 767px) {
    .places {
        max-width: 520px;
        padding-right: 0;
    }
}

@media (max-width: 570px) {
    .places {
        max-width: 375px;
        padding-top: 66px;

    }
}

@media (max-width: 374px) {
    .places {
        max-width: 320px;
    }
}












