.video__container {
    max-width: 1184px;
    display: flex;
    margin: 0 auto;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .video__container {
        max-width: 928px;
    }
}
    
@media (max-width: 1023px) {
    .video__container {
        max-width: 720px;
    }
}

@media (max-width: 767px) {
    .video__container {
        max-width: 520px;
        flex-direction: column;
        align-items: center;
    }
}
    
@media (max-width: 570px) {
    .video__container {
        max-width: 343px;
    }
}

@media (max-width: 374px) {
    .video__container {
        max-width: 288px;
    }
}