.header__lang {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    margin: 0;
    padding: 0;
    margin-top: 14px;
    display: flex;
}

@media (max-width: 570px) {
    .header__lang {
        font-size: 18px;
        line-height: 96.82%;
    }
}

@media (max-width: 374px) {
    .header__lang {
        margin-top: 11px;
    }
}