@import url('__caption/__caption.css');
@import url('__image/__image.css');
@import url('__subtitle/__subtitle.css');
@import url('__title/__title.css');

.lead {
    max-width: 985px;
}

figure {
    margin: 0;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .lead {
        max-width: 928px;
    }
}
    
@media (max-width: 1023px) {
    .lead {
        max-width: 768px;
    }
}

@media (max-width: 767px) {
    .lead {
        max-width: 570px;
    }
}
    
@media (max-width: 570px) {
    .lead {
        max-width: 375px;
    }
}

@media (max-width: 374px) {
    .lead {
        max-width: 320px;
    }
}