@import url("__img/barentsburg__img.css");
@import url("__coord/barentsburg__coord.css");
@import url("__text/barentsburg__text.css");
@import url("__url-text/barentsburg__url-text.css");
@import url("__url/barentsburg__url.css");
@import url("__link/barentsburg__link.css");
@import url("__item/barentsburg__item.css");
@import url("__title/barentsburg__title.css");

.barentsburg {
  width: 1184px;
  height: 780px;
  padding-top: 76px;
}
