@import url('../fonts/inter.css');
@import url('../vendor/normalize.css');
@import url('../blocks/header/header.css');
@import url('../blocks/content/content.css');
@import url('../blocks/content-title/content-title.css');
@import url('../blocks/content-subtitle/content-subtitle.css');
@import url('../blocks/footer/footer.css');


.link:hover {
    opacity: 0.7;
}

.page {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 48px;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #2A2C2F;
    color: #FFFFFF;
}