.cover__paragraph {
    max-width: 382px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

@media (max-width: 570px) {
    .cover__paragraph {
        max-width: 280px;
        font-size: 14px;
        line-height: 17px;
    }
}