.video__content-title {
    max-width: 800px;
    margin: 0 auto;
    
    text-align: center;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    color: #FFFFFF;
}

@media (max-width: 1023px) {
    .video__content-title {
        max-width: 620px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media (max-width: 767px) {
    .video__content-title {
        max-width: 520px;
        font-size: 46px;
        line-height: 47px;
    }
}

@media (max-width: 570px) {
    .video__content-title {
        max-width: 343px;
        font-size: 32px;
        line-height: 35px;
    }
}

@media (max-width: 374px) {
    .video__content-title {
        max-width: 288px;
    }
}