.video__item {
    width: 583px;
    height: 323px;
    
    background-size: 583px 323px;
    border-radius: 5px;
    background-position: left bottom;
    text-decoration: none;

    position: relative;
    display: flex;
    flex-direction: column;
}

.video__item:first-child {
    margin-right: 18px;
}

.video__item_imgKamchatka {
    background: url("../../../images/video_1.jpg"),
    rgba(0,0,0,0.5);
    background-blend-mode: overlay;
}

.video__item_imgKamchatka:hover {
    background: url("../../../images/video_1.jpg"),
    rgba(0,0,0,0.8);
}

.video__item_imgObservatory {
    background: url("../../../images/video_2.jpg"),
    rgba(0,0,0,0.5);
    background-blend-mode: overlay;
}

.video__item_imgObservatory:hover {
    background: url("../../../images/video_2.jpg"),
    rgba(0,0,0,0.8);
}