.comments__subtitle {
    margin: 0 auto;
    margin-top: 43px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;

    max-width: 640px;

    color: #FFFFFF;
}

@media (max-width: 1023px) {
    .comments__subtitle {
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .comments__subtitle {
        max-width: 520px;
    }
}

@media (max-width: 570px) {
    .comments__subtitle {
        font-size: 16px;
        line-height: 23px;
        margin-top: 25px;
    }
}

@media (max-width: 374px) {
    .comments__subtitle {
        max-width: 288px;
    }
}