.video__title {
    width: 322px;
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;

    color: #FFFFFF;
}

@media (max-width: 1023px) {
    .video__title {
        font-size: 24px;
        line-height: 26px;
        margin-top: 7px;
        margin-bottom: 11px;
    }
}

@media (max-width: 570px) {
    .video__title {
        max-width: 300px;
        font-size: 24px;
        line-height: 26px;
        margin-top: 7px;
        margin-bottom: 10px;
    }
}