.intro__text {
    max-width: 683px;
    margin:0;
    margin-top: 34px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #FFFFFF;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .intro__text {
        max-width: 692px;
    }
}

@media (max-width: 1023px) {
    .intro__text {
        max-width: 720px;
    }
}

@media (max-width: 767px) {
    .intro__text {
        max-width: 520px;
    }
}

@media (max-width: 570px) {
    .intro__text {
        max-width: 343px;
        font-size: 1rem;
        line-height: 1.688rem;
    }
}

@media (max-width: 374px) {
    .intro__text {
        margin-top: 41px;
        line-height: 1.7rem;
    }
}