.barentsburg__url-text {
    max-width: 282px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #AAAAAA;
    margin: 0;
}