.comments__author {
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

@media (max-width: 1023px) {
    .comments__author { 
        order: 2; 
        margin-top: 16px;
        line-height: 22px;
    }   
}