@import url("__content-row/photo-grid__content-row.css");
@import url("__text/photo-grid__text.css");
@import url("__text-author/photo-grid__text-author.css");
@import url("__text-info/photo-grid__text-info.css");
@import url("__info/photo-grid__info.css");
@import url("__subtitle/photo-grid__subtitle.css");
@import url("__title/photo-grid__title.css");
@import url("__paragraph/photo-grid__paragraph.css");
@import url("__author/photo-grid__author.css");
.intro {
  max-width: 984px;
  padding-top: 78px;
  padding-bottom: 85px;
}
