.header__list {
    list-style-type: none;
}

.header__list:first-child {
    margin-right: 19px;
}

@media (max-width: 570px) {
    .header__list:first-child {
        margin-right: 24px;
    }
}

@media (max-width: 374px) {
    .header__list:first-child {
        margin-right: 18px;
    }
}