.intro__title {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 3.688rem;

    max-width: 683px;

    margin: 0;
}

@media (max-width: 767px) {
    .intro__title {
        max-width: 520px;
    }
}

@media (max-width: 570px) {
    .intro__title {
        max-width: 343px;
        font-size: 2rem;
        line-height: 2.188rem;
    }
}