@import url("_nvrssk/attraction_nvrssk.css");
@import url("_shickan/attraction_shickan.css");
@import url("_cherepovets/attraction_cherepovets.css");
@import url("_nikola/attraction_nikola.css");
@import url("__heading/attraction__heading.css");
@import url("__paragraph/attraction__paragraph.css");

.attraction {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 284px;
  height: 330px;
  border-radius: 5px;
  background-blend-mode: overlay;
  overflow: hidden;
  padding-top: 6px;
  padding-bottom: 11px;
  box-sizing: border-box;
}
