.video__title {
    width: 322px;
    margin: 0;
    margin-top: 12px;
    margin-left: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;

    color: #FFFFFF;
}